$header-benefits-height: 45;
$header-main-height: 89;
$header-main-height-md: 60;
$header-height: $header-benefits-height + $header-main-height;
$header-height-md: $header-benefits-height + $header-main-height-md;
